body{
    padding:0;
    margin:0;
}

header{
    width:100%;
    height:100px;
    background-color:rgb(138, 0, 0);
    display:flex;

}

.navtop{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding:0 25px;
}

.navtop .logo{
    height:100%;
    width:180px;
    display:flex;
}

.navtop .logo .image{
    width:100%;
    height:100%;
}

.navtop .logo .image img{
    height:100%;
}

.navtop .lis .lp ul{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    height:100%;
    list-style:none;
    gap:50px;
    padding:0;
    margin:0;
}

.navtop .lis .lp ul li a{
    color:white;
    text-decoration:none;
}

.navtop .lis .lp ul li:hover a{
    color:red;
}