body{
    width:100%;
    height:100vh;
    border:0;
    margin:0;
    padding:0;
    display:flex;
    flex-direction: column;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



header{
    height:80px;
    width:100%;
    position:fixed;
    background-color:white;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.185);
    z-index: 1000;
}

header div#logo{
    width:150px;
    height:70px;
    margin-right:250px;
    display:flex;
    justify-content: center;
    align-items:center;
    padding-right:15px;
}

header div#logo #emoji{
    font-size:1.9rem;
}

header div#logo #logot{
    margin-left:5px;
    font-size:1.35rem;
    font-weight:700;
    color:#8B4846;
}

header div#image > img{
    width:100%;
    height:75%;
}

header div#meio{
    width:450px;
    height:75px;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
    font-size: 16px;
    font-weight: 550;
}

header div#fim{
    width:160px;
    height:65%;
    background-color: #8b4846;
    border-radius:100px;
    margin-left:255px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:17px;
    font-weight:550;
    transform:translateY(0px);
    transition:0.4s;
}

header div#fim:hover{
    transform:translateY(-5px);
    background-color:#5c2d2d;
}

header div#fim > a{
    text-decoration: none;
    color:white;
}

section{
    display:flex;
}

section.um{
    width:100%;
    height: 165vh;
    background-color: rgb(252, 248, 243);
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}

section.um > div.p1{
    display:flex;
    flex-direction:column;
    align-items:start;
    justify-content:center;
    margin-left:50px;
    margin-top:100px;
}

section.um > div.p1 > div#t1{
    width:400px;
    height:175px;
    font-size:64px;
    font-weight:700;
    margin-top:25px;
    color:#6B3636;
}

section.um > div.p1 > div#t2{
    width:625px;
    height:100px;
    color:rgb(44, 22, 0);
    font-size:19px;
}

section.um > div.p1 > div#t3{
    width:275px;
    height:55px;
    border-radius:100px;
    background-color: #8b4846;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:20px;
    font-weight:625;
    cursor: pointer;
    color:white;
    transition:0.2s ease-in-out;
    transform:scale(1);
}

section.um > div.p1 > div#t3:hover{
    background-color:#5e2222;
    transform:scale(1.02);
    box-shadow:0px 0px 8px 4px rgba(0, 0, 0, 0.062);
}

section.um > div.p2{
    width:600px;
    height:800px;
    background-color: black;
    display:flex;
    margin-right:35px;
    border-radius:20px;
}

section.um > div.p2 > img{
    width:100%;
    height:100%;
    border-radius:20px;
    transform:scale(1);
    transition:0.5s;
    display:block;
}

section.um > div.p2 > img:hover{
    transform:scale(1.02);
}

section.dois{
    width:100%;
    height:86vh;
    background-color:#8B4846;
    display:flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
}

section.dois > div.l1{
    width:625px;
    height:425px;
    border-radius:25px;
}

section.dois > div.l1 img{
    width:100%;
    height:100%;
    border-radius:25px;
    box-shadow:0px 0px 20px 7px #0000001a;
    transition:0.5s ease;
    transform:scale(1);
}

section.dois > div.l1 img:hover{
    transform:scale(1.04) rotate(2deg);
}

section.dois > div.l2{
    height:100%;
    width:45%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:start;
}

section.dois > div.l2 div{
    padding-bottom:25px;
}

section.dois > div.l2 div#title{
    width:350px;
    height:auto;
    font-size:55px;
    font-weight:700;
    color:rgb(252, 245, 245);
}

section.dois > div.l2 div#text{
    width:625px;
    height:auto;
    font-size:17px;
    color:rgb(252, 245, 245);
    padding-bottom:35px;
}

section.dois > div.l2 button{
    width:200px;
    height:50px;
    background-color:rgb(252, 245, 245);
    border:none;
    border-radius:25px;
    font-size:17px;
    font-weight:600;
    color:#6B3636;
    cursor: pointer;
    transform:translateY(0px);
    transition-duration:0.5s;
}

section.dois > div.l2 button:hover{
    transform:translateY(-4px);
    background-color:#8B4846;
    color:white;
    border:2px solid rgba(255, 255, 255, 0.904);
    box-shadow:0px 5px 5px 6px rgba(255, 255, 255, 0.123);
}

section.tres{
    width:100%;
    height:110vh;
    display:flex;
    flex-direction:column;
}

section.tres div.cima{
    height:30%;
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:end;
    align-items:center;
}

section.tres div.cima div#texto{
    display:flex;
    justify-content:center;
    align-items:center;
    height:auto;
    width:350px;
    font-size:46px;
    font-weight:700;
    text-align:center;
    padding-bottom:25px;
    color:#6B3636;
}

section.tres div.baixo{
    height:70%;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}

section.tres div.baixo div#bola{
    height:400px;
    width:400px;
    border-radius:100%;
    overflow:hidden;
    margin-left:150px;
    box-shadow:0px 0px 2.5rem 6px rgba(0, 0, 0, 0.150);
    transition:0.5s ease;
    transform:scale(1);
}

section.tres div.baixo div#bola:hover{
    transform:scale(1.05);
    box-shadow:0px 0px 2.5rem 6px rgba(0, 0, 0, 0.250   );
}

section.tres div.baixo div#bola img{
    max-width:100%;
}


section.tres div.baixo .textos{
    height:100%;
    width:50%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

section.tres div.baixo div.textos div#texto2{
    font-size:1.13rem;
    color:rgba(48, 48, 48, 0.884);
    width:91%;
    line-height: 1.8;
}

section.tres div.baixo div.textos div#stats{
    height:30%;
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-evenly;
    align-items:center;
    margin-top:2rem;
}

section.tres div.baixo div.textos div#stats div.quadrado{
    height:8.8rem;
    width:10.2rem;
    background-color:rgba(250, 235, 215, 0.322);
    border-radius:1rem;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    transition:1s ease;
}

section.tres div.baixo div.textos div#stats div.quadrado:hover{
    box-shadow:0px 0px 2.5rem 6px rgba(0, 0, 0, 0.150);
}

section.tres div.baixo div.textos div#stats div.quadrado a#n{
    color:#975a5a;
    font-size:2.5rem;
    font-weight:700;
    margin-bottom:15px;
}

section.tres div.baixo div.textos div#stats div.quadrado a#t{
    color:rgba(0, 0, 0, 0.904);
    font-weight:380;
    font-size:15px
}

footer section.foot{
    width:100%;
    height:70vh;
    background-color:#4A2F2F;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

footer section.foot .up{
    width:100%;
    height:70%;
    display:flex;
    flex-direction:row;
}

footer section.foot .up #um{
    width:25%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
}

footer section.foot .up #um #t4{
    width:80%;
    height:35%;
    font-size:21px;
    color:white;
    font-weight:700;
    display:flex;
    justify-content:start;
    align-items:end;
}

footer section.foot .up #um #t5{
    width:80%;
    height: 60%;
    display:flex;
    align-items:center;
    justify-content:center;
    color:white;
    line-height:30px;
}

footer section.foot .up #um .medias{
    height:15%;
    width:65%;
    padding-right:50px;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}

footer section.foot .up #um .medias .media{
    height:38px;
    width:38px;
    border-radius:100%;
    background-color:#eeecec27;
    display:flex;
    justify-content:center;
    align-items:center;
    transition:0.5s ease;
    transform:translateY(0);
}

footer section.foot .up #um .medias .media:hover{
    transform:translateY(-5px);
    background-color:#8b4444;
}


footer section.foot .up #um .medias .media i{
    font-size:15px;
    color:white;
    padding-bottom:1px;
}

footer section.foot .up #dois{
    width:25%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

footer section.foot .up #dois #ti2{
    width:80%;
    height:35%;
    display:flex;
    flex-direction:column;
    justify-content:end;
    align-items:start;
    color:white;
    font-size:21px;
    font-weight:700;
    padding-bottom:30px;
}

footer section.foot .up #dois .links{
    width:80%;
    height:65%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

footer section.foot .up #dois .links div.seta{
    width:100%;
    height:auto;
    display:flex;
    flex-direction:row;
    color:white;
    font-size:15px;
    transition:0.5s ease;
    transform:translateX(0);
}

footer section.foot .up #dois .links div.seta:hover{
    transform:translateX(10px);
    color:#8b4444;
}

footer section.foot .up #tres{
    width:25%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

footer section.foot .up #tres #ti2{
    width:80%;
    height:35%;
    display:flex;
    flex-direction:column;
    justify-content:end;
    align-items:start;
    color:white;
    font-size:21px;
    font-weight:700;
    padding-bottom:30px;
}

footer section.foot .up #tres .links{
    width:80%;
    height:65%;
    display:flex;
    flex-direction:column;
    justify-content:space-between;
}

footer section.foot .up #tres .links div.seta{
    width:100%;
    height:auto;
    display:flex;
    flex-direction:row;
    color:white;
    font-size:15px;
    transition:0.5s ease;
    transform:translateX(0);
}

footer section.foot .up #tres .links div.seta:hover{
    transform:translateX(10px);
    color:#8b4444;
}

footer section.foot .up #quatro{
    width:25%;
    height:100%;
    display:flex;
    flex-direction:column;
    align-items:end;
}

footer section.foot .up #quatro #ti3{
    width:90%;
    height:40%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:start;
    color:white;
    font-size:21px;
    font-weight:700;
    padding-top:30px;
    padding-left:20px;
}

footer section.foot .up #quatro .infos{
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:start;
    width:90%;
    height:60%;
    color:white;
}

footer section.foot .up #quatro .infos .info{
    display:flex;
    flex-direction:row;
    align-items:start;
    width:80%;
    height:auto;
}

footer section.foot .up #quatro .infos .info .img{
    width:10px;
    height:10px;
    color:#975a5a;
    margin-right:20px;
}

footer section.foot .down{
    width:95%;
    height:20%;
    margin-top:50px;
    border-top:1px solid rgba(156, 156, 156, 0.185);
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1em;
}

footer section.foot .down a{
    color:rgb(199, 199, 199);
    margin:5px;
}

footer section.foot .down i{
    color:#ff6c6cc5;
    animation: heartbeats 1.5s ease infinite;
}

@keyframes heartbeats{
    0%{
        transform:scale(1);
    }
    20%{
        transform:scale(1.1);
    }
    30%{
        transform:scale(1);
    }
    40%{
        transform:scale(1.15);
    }
    80%{
        transform:scale(1);
    }
}