body{
    width:100%;
    height:100vh;
    background-color: grey;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    #filho1 div,
    #filho2 div{
        width: 100px;
        height: 100px;
        background-color: black;
        border:1px solid red;
        justify-content: center;
        align-items: center;
    }
    #filho1{
     display: flex;
     flex-direction: row;
    }
    #filho2{
        display: flex;
        flex-direction: column;
    }