body{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.575);
}

header .meio ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    gap: 30px;
}

header .dir a{
    display: flex;
    font-weight: bold;
    background-color: #6b3636;
    padding: 20px 35px;
    border-radius: 60px;
    color: white;
    text-decoration: none;
    transform: translateY(0);
    transition: 0.2s;
}

header .dir a:hover{
    display: flex;
    background-color: #5a2b2b;
    transform: translateY(-5px);
}