body{
    width:100%;
    padding:0;
    margin:0;
    display:flex;
    flex-direction:column;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header{
    width:100%;
    height:80px;
    box-shadow:2px 2px 3px hsla(0, 0%, 0%, 0.452);
    display:flex;
    z-index:1000;
}

.squad{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
    margin-left:20px;
}

.squad ul{
    display:flex;
    flex-direction:row;
    gap:30px;
    list-style:none;
    font-weight:500;
}

.quadrado a{
    width:160px;
    height:65%;
    background-color:#8b4846;
    border-radius:100px;
    margin-right:20px;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:17px;
    font-weight:550;
    color:white;
    transform:translatey(0px);
    transition:0.2s;
}

.quadrado a:hover{
    background-color:#643332;
    transform:translatey(-5px); 
}

ul li{
    color:black;
    transition:0.2s;    
}

ul li:hover{
    color:#643332;
    transition:0.2s;    
}

main{
    width:100%;
    min-height:130vh;
    background-color:#FAF6F2;
    display:flex;
    flex-direction:column;
}

.P1{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
}

.P1 .direita{
    width:50%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

.P1 .direita h1{
    font-size:4rem;
    color:#6B3636;
    font-weight:700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.P1 .direita p{
    width:570px;
    font-size:1.2rem;
    font-family:"Font Awesome 6 Free";
    color:#2c2c2c;
}

.quadrado2{
    width:100%;
    height:auto;
    display:flex;
    margin-top:35px;
}

.quadrado2 a{
    padding:16px 48px;
    background-color:#8b4846;
    border-radius:30px;
    color:white;
    letter-spacing:1px;
    font-weight:700;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

.Vo{
    width:90%;
}

.P1 .esquerda{
    width:50%;
    height:100%;
    display:flex;
    flex-direction:column;
}

.P1 .esquerda .imagem{
    width:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    padding:4rem 0;
}

.P1 .esquerda .imagem img{
    width:91%;
    border-radius:30px;
}

.P2{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:row;
    border:1px solid black;
}

.P2 .direita{
    width:50%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}